// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: #777;
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

//Metro
//$v-font-family: "Source Sans Pro", sans-serif;
//$v-app-background-color: #fff;
//$v-background-color: #eee;
//$v-focus-color: #0072C6;
//$v-focus-style: 0 0 0 1px $v-focus-color;
//$valo-menu-background-color: darken($v-focus-color, 10%);
//$v-border: 0 solid v-shade;
//$v-border-radius: 0px;
//$v-bevel: false;
//$v-gradient: false;
//$v-shadow: false;
//$v-textfield-bevel: false;
//$v-textfield-shadow: false;
//$v-textfield-border: 1px solid v-shade;
//$v-link-text-decoration: none;
//$v-overlay-shadow: 0 0 0 2px #000;
//$v-overlay-border-width: 2px; // For IE8
//$v-window-shadow: $v-overlay-shadow;
//$v-selection-overlay-background-color: #fff;
//$v-selection-overlay-padding-horizontal: 0;
//$v-selection-overlay-padding-vertical: 6px;
//$v-panel-border: 2px solid v-shade;

@import "../valo/valo.scss";

@mixin todo {
  @include valo;

  .list-select-layout {
    width: 300px;

    .add-list-field {
      @include valo-textfield-style($background-color: lighten($valo-menu-background-color, 5%));
      margin: 10px auto;
      display: block;
    }
  }


  .todo-list {
    background: darken($v-background-color, 3%);
    border-radius: $v-border-radius;
    border: 1px solid $v-shade;
    .completed {
      text-decoration: line-through;
    }
  }
}